:root {
    --DarkBlue: #054C73;
    --Black: #333333;
    --Gray: #666666;
    --white: #FFFFFF;
    --background: #F2F5FF;
    --border: #DFE9F4;
}

/*  -- html And Body --  */

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/*  -- Container  --  */

.container {

    width: 100%;
}

/*  -- Reset Style --  */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*  -- Header --  */

/*  -- Nav --  */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.nav-title {
    margin-left: 150px;
    width: 30%;
    color: var(--DarkBlue);
    font-size: 34px;
    font-family: "Montserrat";
}

.nav-items {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-item__link {
    color: var(--Black);
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat Medium";
}

.nav-item__link:hover {
    color: var(--border);
    transition: all 250ms ease-in;
}

/*  -- Nav Mobile  -- */

.nav-item__title {
    font-family: "Montserrat";
    color: var(--white);
    font-size: 30px;
    position: relative;
}

.nav-item__title::before {
    content: "";
    background-color: var(--white);
    position: absolute;
    width: 110px;
    height: 3px;
    top: 40px;
    left: 20px;
}

.nav-items__mobile {
    transform: translateX(-190px);
    transition: all 250ms ease-in-out;
}

.nav-item__mobile {
    font-family: "Montserrat Medium";
    position: relative;
}

#toggle-nav {
    position: relative;
    margin-left: 300px;
}

.label-nav {
    display: none;
    position: absolute;
}

#toggle-nav:checked+.nav-items__mobile {
    transform: translateX(0);
    transition: all 250ms ease-in-out;
}

.line {
    border-bottom: 2px solid;
    width: 30px;
    display: block;
    margin-bottom: 4px;
}

.line1 {
    transition: all 250ms ease;
    transform: rotate(-55deg) translateY(10px);
}

.line2 {
    transition: all 250ms ease;
    transform: translateX(10px);
    opacity: 0;
}

.line3 {
    transition: all 250ms ease;
    transform: rotate(55deg) translateY(-10px);
}

.toggle-nav:checked+ {}

.nav-items__mobile {
    position: fixed;
    z-index: 1;
    top: -10px;
    left: 0;
    bottom: -10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--DarkBlue);
    width: 150px;
}

.nav-item__mobile {}

.nav-link__mobile {
    font-family: "Montserrat Medium";
    font-size: 16px;
    color: var(--border);
}

/*  -- Collection --  */

.collection-img {
    position: absolute;
}

.collection-information {
    margin-top: 78px;
    margin-left: 655px;
    height: 430px;
    padding: 25px;
    position: absolute;
    border: 1px solid var(--border);
    border-radius: 10px;
    background-color: var(--border);
}

.collection-name {
    color: var(--Black);
    font-family: "Montserrat Regular";
    font-size: 16px;
    font-weight: 600;
}

.collection-title {
    color: var(--DarkBlue);
    font-family: "Montserrat";
    font-size: 52px;
    font-weight: 700;
    line-height: 65px;
}

.collection-text {
    margin-bottom: 40px;
    color: var(--Black);
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat Medium";
    line-height: 39px;
}

.collection-btn {
    font-family: "Montserrat Regular";
    color: var(--white);
    background-color: var(--DarkBlue);
    border-radius: 50px;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 700;
}

/*  -- conditions --  */

.conditions {
    margin-top: 780px;
    background-color: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

.conditions-item {
    gap: 20px;
    display: flex;
    align-items: center;
}

.condition-item__title {
    font-family: "Montserrat Regular";
    font-size: 24px;
    font-weight: 600;
    color: var(--Black);
}

.condition-item__text {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    margin-top: -15px;
    color: var(--Black);
}

/*  -- inspiration --  */

.inspiration {
    margin-top: 70px;
    text-align: center;
}

.inspiration-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;
    color: var(--Black);
}

.inspiration-text {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    color: var(--Gray);
}

/*  -- Images --  */

.images {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.Mockup {
    margin-top: -95px;
}

/*  -- Space --  */

.space {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.space-title {
    color: var(--Black);
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
}

.space-text {
    color: var(--Gray);
    line-height: 39px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 45px;
}

.space-btn {
    font-family: "Montserrat Regular";
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--DarkBlue);
    padding: 15px 40px;
    border-radius: 50px;
}

.space-img {
    margin-top: 50px;
    position: relative;
    z-index: 0;
}

.circle {
    z-index: -1;
    margin-top: -530px;
    margin-left: 210px;
    position: absolute;
    border-radius: 100%;
    background-color: #09513B;
    width: 370px;
    height: 370px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/*  -- Range --  */

.range {
    text-align: center;
}

.range-title {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: var(--Black);
}

.range-text {
    color: var(--Gray);
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
}

.range-imgs {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.img-title {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 600;
    color: var(--Black);
}

/*  -- Works --  */

.works {
    margin-top: 50px;
}

.work-imgs {
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
}



.work-details {
    text-align: center;
}

.work-title {
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: var(--Black);
}

.work-text {
    color: var(--Gray);
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
}

.img-title {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    color: var(--Black);
    text-align: center;
    margin-bottom: -8px;
}

.img-text {
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat";
    color: var(--Gray);
    text-align: center;
}

/* -- mailing -- */

.mailing {
    text-align: center;
    background-color: var(--border)
}

.mailing-title {
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--Black);
    padding-top: 60px;
}

.mailing-text {
    line-height: 39px;
    font-size: 20px;
    color: var(--Gray);
    font-weight: 400;
    font-family: "Montserrat Medium";
    margin-bottom: 50px;
}

.mailing-input {
    border: none;
    border: 1px solid var(--DarkBlue);
    padding: 15px;
    text-align: start;
    width: 330px;
    position: relative;
    border-radius: 3px;
    height: 19px;
    margin-bottom: 60px;
}

.mailing-btn {
    font-family: "Montserrat Medium";
    font-size: 16px;
    font-weight: 700;
    background-color: var(--DarkBlue);
    color: var(--white);
    border: none;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid var(--DarkBlue);
    position: absolute;
    margin-left: -90px;
    margin-bottom: 60px;
}


/*  -- Footer --  */

.footer {
    background-color: var(--DarkBlue);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px 100px;
}

.footer-information {
    margin-bottom: 80px;
}

.footer-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
}

.footer-text {
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat";
    color: var(--white);
    line-height: 35px;
}

.footer-title-link {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
}

.footer-imgs {
    gap: 20px;
    display: flex;
}

.footer-img-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
}